.link{
    text-align: end;
}
.img1 img{
    text-align: center;
    width: 22.7%;
}

.para{
    text-align: justify;
}
.head{
    text-align: center;
    color: blue;
}
.container{
    border: 3px solid black;
    padding: 5px 5px 5px;
}
.inner{
    border: 2px solid red;
}
.shadow{
    -webkit-box-shadow: -1px 1px 10px 8px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 1px 10px 8px rgba(0,0,0,0.35);
    box-shadow: -1px 1px 10px 8px rgba(0,0,0,0.35);
    margin: 5px;
}
.img1{
    text-align: center;
}